<app-carousel [imgAds]="imgAds"></app-carousel>

<div class="search">
  <div class="input">
    <input [(ngModel)]="searchKey" placeholder="查詢商品">

    <span class="clear" (click)="searchKey = ''">ｘ</span>
  </div>
</div>

<div class="app-page">
  <div class="app-content">
    <div class="category-menu">
      <ng-container *ngFor="let category of categorys">
        <span [ngClass]="{ 'active': category === categoryKey }" (click)="search(category)">{{ category }}</span>
      </ng-container>
    </div>

    <div class="product-menu">
      <ng-container *ngFor="let product of products">
        <ng-container *ngIf="product.category.indexOf(categoryKey) !== -1 && product.title.indexOf(searchKey) !== -1">
          <div class="product-item" (click)="openProductDialog(product)">
            <img [src]="product.img">
            <span>{{ product.title }}</span>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>

<ng-container *ngIf="productDialog">
  <app-product-dialog [product]="productItem" (dialogClose)="productDialog = false"></app-product-dialog>
</ng-container>
