.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 100px;
  opacity: 0;
  transition: all .2s ease-in-out;
  z-index: 10;

  button {
    width: 60px;
    height: 60px;
    cursor: pointer;

    &.icon-only {
      .mat-icon {
        font-size: 30px;
      }
    }
  }

  &.show-scrollTop {
    display: block;
    opacity: 1;
    transition: all .2s ease-in-out;
  }
}
